:root{
    --default: #ee6e73 !important;
    --default-back: #00acbe;
}
/* ------------------ General CSS ------------------ */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
    font-family: 'Raleway', sans-serif;
}
main {
    flex: 1 0 auto;
}
a {
    outline: none;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.btn-prod{
    margin: 0.5rem;
    height: 2rem;
    color: #2A293E;
    background:  #ee6e73;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-radius: 50px;
    border-style: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-prod:hover{
    color: #ee6e73;
    background: #fff;
    border-style: outset;
    border: 0.2rem solid #ee6e73;
}

/* App style*/

/*Checkout Panier*/
.panier-content{
    padding: 2rem 2rem 2rem 2rem;
}
.round-sq {
    clip-path: ellipse(50% 50%);
}
.round-cir {
    clip-path: ellipse( 50% 50%);
}
.toopart{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.toopart.flex-start {
    justify-content: flex-start;
}
.toopart.space-between {
    justify-content: space-between;
}
table{
    margin-bottom: 2rem;
}
.totaux{
    font-weight: 600;
    text-transform: uppercase;
}
.add-move{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.moveQ, .addQ, .Q{
    height: 4rem;
    width:3rem;
    text-align: center;
}

/*Popup Panier*/

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.openPopup{
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Side bar*/
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #0e1036; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0rem; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    margin-top: 4rem;
    color: #fff;
    overflow-y: scroll;
  }
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #eee;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
  }
  .panier-content h2{
    text-align: center;
    font-size: 25px;
}
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*Ifyouwantatransitioneffect*/
    -webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -ms-transition: margin-left .5s;
    -o-transition: margin-left .5s;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }