:root{
    --default: #ee6e73 !important;
    --default-back: #00acbe;
}
/* ------------------ General CSS ------------------ */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
    font-family: 'Raleway', sans-serif;
}
main {
    flex: 1 0 auto;
}
a {
    outline: none;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
p {
    margin: 0;
    padding: 0;
}

.btn-prod{
    margin: 0.5rem;
    height: 2rem;
    color: #2A293E;
    background:  #ee6e73;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-radius: 50px;
    border-style: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-prod:hover{
    color: #ee6e73;
    background: #fff;
    border-style: outset;
    border: 0.2rem solid #ee6e73;
}

/* App style*/

/*Checkout Panier*/
.round-sq {
    clip-path: ellipse(50% 50%);
}
.round-cir {
    clip-path: ellipse( 50% 50%);
}
.toopart{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.toopart.flex-start {
    justify-content: flex-start;
}
.toopart.space-between {
    justify-content: space-between;
}
table{
    margin-bottom: 2rem;
}
.totaux{
    font-weight: 600;
    text-transform: uppercase;
}
.add-move{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.moveQ, .addQ, .Q{
    height: 4rem;
    width:3rem;
    text-align: center;
}

/*Popup Panier*/

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup h2{
    text-align: center;
    color: #fff;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.openPopup{
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.popup{
    position: absolute;
    top: -200%;
    left: 75%;
    height: 30rem;
    opacity: 0;
    color: #fff;
    transform: translate(-50%,-50%) scale(1.25);
    width: 35rem;
    overflow-y: scroll;
    padding: 10px 30px;
    background: #040e43;
    box-shadow: 2px 2px 5px 5px rgb(0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms
    ;
}
.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 20ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms
    ;
}
.popup .close-btn{
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}


