<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">PCS</a>
			<ul class="right hide-on-med-and-down">
				<li class="active">
					<a href="#">
						<i class="material-icons gray">dashboard</i>
					</a>
				</li>
				<li>
					<a href="{{ path('app_product_new') }}">
						<i class="material-icons gray">add_circle</i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="material-icons gray">collections</i>
					</a>
				</li>
				<li>
					<!-- Dropdown Trigger -->
					<a class='dropdown-trigger btn pink' href='#' data-target='dropdown-panier'>
						<i class="material-icons">shopping_cart</i>
					</a>
					<!-- Dropdown Structure -->
					<div id='dropdown-panier' class='dropdown-content'>
					<div class="card-pane teal">
						<p>
							I am a very simple card. I am good at containing small bits of information.
						I am convenient because I require little markup to use effectively.
						I am similar to what is called a panel in other frameworks.
						</p>
					</div>
					</div>
				</li>

			</ul>
		</div>
	</nav>
</div>
