<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">PCS</a>
			<ul class="right hide-on-med-and-down">
				<li class="active">
					<a href="{{ path('app_product_index') }}">
						<i class="material-icons gray">dashboard</i>
					</a>
				</li>
				<li>
					<a href="{{ path('app_product_new') }}">
						<i class="material-icons gray">add_circle</i>
					</a>
				</li>
				<li>
					<a href="{{ path('app_product_index') }}">
						<i class="material-icons gray">collections</i>
					</a>
				</li>
				<li>
					<a class="openPopup pink openbtn" href="#">
						<i class="material-icons">shopping_cart</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div id="mySidebar" class="sidebar">
	<button class="pink closebtn" onclick="closeNav()">
		<i class="material-icons">close</i>
	</button>
	<div class="panier-content">
		<h2>Panier Client</h2>
		<table class="responsive-table striped centered">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix/$</th>
					<th>Quantite</th>
					<th>Total/$</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="tBody">
				<tr id="panierList"></tr>
				<tr id="totaux"></tr>
			</tbody>
		</table>
		<div class="toopart space-between">
			<a class="btn btn-large black accent-1 vider" type="button"
				>Vider</a
			>
			<button class="btn btn-large pink accent-2 checkout" type="button">
				Checkout
			</button>
		</div>
	</div>
</div>
