<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">PCS</a>
			<ul class="right hide-on-med-and-down">
				<li class="active">
					<a href="{{ path('app_product_index') }}">
						<i class="material-icons gray">dashboard</i>
					</a>
				</li>
				<li>
					<a href="{{ path('app_product_new') }}">
						<i class="material-icons gray">add_circle</i>
					</a>
				</li>
				<li>
					<a href="{{ path('app_product_index') }}">
						<i class="material-icons gray">collections</i>
					</a>
				</li>
				<li>
					<!-- myToastopenToast Trigger -->
					<a class='pink' href="{{ path('app_panier_index') }}">
						<i class="material-icons">shopping_cart</i>
					</a>
				</li>

			</ul>
		</div>
	</nav>
</div>
